

  


<div class="container-fluid">

		<!-- Left Column -->
		<div class="col-sm-3">

			<!-- List-Group Panel -->
			<div class="card">
				<div class="card-header p-b-0">
					<h5 class="card-title"><i class="fa fa-random" aria-hidden="true"></i> Completely Synergize</h5>
				</div>
				<div class="list-group list-group-flush">
					<a href="#" class="list-group-item list-group-item-action">Resource Taxing</a>
					<a href="#" class="list-group-item list-group-item-action">Premier Niche Markets</a>
					<a href="#" class="list-group-item list-group-item-action">Dynamically Innovate</a>
					<a href="#" class="list-group-item list-group-item-action">Objectively Innovate</a>
					<a href="#" class="list-group-item list-group-item-action">Proactively Envisioned</a>
				</div>
			</div>

			<!-- Text Panel -->
			<div class="card">
				<div class="card-header p-b-0">
					<h5 class="card-title"><i class="fa fa-cog" aria-hidden="true"></i> Dramatically Engage</h5>
				</div>

				<div class="card-block">
					<p class="card-text">Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
					<p><button class="btn btn-secondary">Engage</button></p>
				</div>
			</div>

			<!-- Text Panel -->
			<div class="card">
				<div class="card-header p-b-0">
					<h5 class="card-title">
						<i class="fa fa-bullhorn" aria-hidden="true"></i>
						Active Predomination
					</h5>
				</div>
				<div class="card-block">
					<p class="card-text">Proactively envisioned multimedia based expertise and cross-media growth strategies.</p>
					<div class="btn-group btn-group-sm" role="group">
						<button type="button" class="btn btn-secondary">Resource</button>
						<button type="button" class="btn btn-secondary">Envision</button>
						<button type="button" class="btn btn-secondary">Niche</button>
					</div>
				</div>
			</div>

		</div><!--/Left Column-->


		<!-- Center Column -->
		<div class="col-sm-6">

			<!-- Alert -->
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Synergize:</strong> Seamlessly visualize quality intellectual capital!
			</div>

			<!-- Articles -->
			<div class="row">
				<article class="col-xs-12">
					<h2>Premier Niche Markets</h2>
					<p>Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
					<p><button class="btn btn-outline-success">Read More</button></p>
					<p class="pull-right"><span class="tag tag-default">keyword</span> <span class="tag tag-default">tag</span> <span class="tag tag-default">post</span></p>
					<ul class="list-inline">
						<li class="list-inline-item"><a href="#">Today</a></li>
						<li class="list-inline-item"><a href="#"><span class="glyphicon glyphicon-comment"></span> 2 Comments</a></li>
						<li class="list-inline-item"><a href="#"><span class="glyphicon glyphicon-share"></span> 8 Shares</a></li>
					</ul>
				</article>
			</div>
			<hr>
			<div class="row">
				<article class="col-xs-12">
					<h2>Proactively Envisioned</h2>
					<p>Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products. Proactively envisioned multimedia based expertise and cross-media growth strategies.</p>
					<p><button class="btn btn-outline-primary">Read More</button></p>
					<p class="pull-right"><span class="tag tag-default">keyword</span> <span class="tag tag-default">tag</span> <span class="tag tag-default">post</span></p>
					<ul class="list-inline">
						<li class="list-inline-item"><a href="#">Yesterday</a></li>
						<li class="list-inline-item"><a href="#"><span class="glyphicon glyphicon-comment"></span> 21 Comments</a></li>
						<li class="list-inline-item"><a href="#"><span class="glyphicon glyphicon-share"></span> 36 Shares</a></li>
					</ul>
				</article>
			</div>
			<hr>
			<div class="row">
				<article class="col-xs-12">
					<h2>Completely Synergize</h2>
					<p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
					<p><button class="btn btn-outline-danger">Read More</button></p>
					<p class="pull-right"><span class="tag tag-default">keyword</span> <span class="tag tag-default">tag</span> <span class="tag tag-default">post</span></p>
					<ul class="list-inline">
						<li class="list-inline-item"><a href="#">2 Days Ago</a></li>
						<li class="list-inline-item"><a href="#"><span class="glyphicon glyphicon-comment"></span> 12 Comments</a></li>
						<li class="list-inline-item"><a href="#"><span class="glyphicon glyphicon-share"></span> 18 Shares</a></li>
					</ul>
				</article>
			</div>
			<hr>
		</div><!--/Center Column-->


	  <!-- Right Column -->
	  <div class="col-sm-3">

			<!-- Form -->
			<div class="card">
				<div class="card-header p-b-0">
					<h5 class="card-title">
						<i class="fa fa-sign-in" aria-hidden="true"></i>
						Log In
					</h5>
				</div>
				<div class="card-block">
					<form>
						<div class="form-group">
							<input type="text" class="form-control" id="uid" name="uid" placeholder="Username">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
						</div>
						<button type="submit" class="btn btn-primary">Log In</button>
					</form>
				</div>
			</div>

			<!-- Progress Bars -->
			<div class="card">
				<div class="card-header p-b-0">
					<h5 class="card-title">
						<i class="fa fa-tachometer" aria-hidden="true"></i>
						Dramatically Engage
					</h5>
				</div>
				<div class="card-block">
                    <div class="text-xs-center" id="progress-caption-1">Proactively Envisioned &hellip; 100%</div>
                    <progress class="progress progress-success" value="100" max="100" aria-describedby="progress-caption-1"></progress>
                    <div class="text-xs-center" id="progress-caption-2">Objectively Innovated &hellip; 80%</div>
                    <progress class="progress progress-info" value="80" max="100" aria-describedby="progress-caption-2"></progress>
                    <div class="text-xs-center" id="progress-caption-3">Portalled &hellip; 45%</div>
                    <progress class="progress progress-warning" value="45" max="100" aria-describedby="progress-caption-3"></progress>
                    <div class="text-xs-center" id="progress-caption-4">Done &hellip; 35%</div>
                    <progress class="progress progress-danger" value="35" max="100" aria-describedby="progress-caption-4"></progress>
				</div>
			</div>

			<!-- Carousel -->
 			<h4><i class="fa fa-language" aria-hidden="true"></i> Synergization</h4>
			<div id="side-carousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#side-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#side-carousel" data-slide-to="1"></li>
					<li data-target="#side-carousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
						<a href="#">
							<img class="img-responsive" src="holder.js/400x300?bg=FF8C00&text=Image%201" alt="">
						</a>
						<div class="carousel-caption">
							<h3>Dramatically Engage</h3>
							<p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
						</div>
					</div>
					<div class="carousel-item">
						<a href="#">
							<img class="img-responsive" src="holder.js/400x300?bg=FF8C00&text=Image%202" alt="">
						</a>
						<div class="carousel-caption">
							<h3>Efficiently Unleash</h3>
							<p>Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
						</div>
					</div>
					<div class="carousel-item">
						<a href="#">
							<img class="img-responsive" src="holder.js/400x300?bg=FF8C00&text=Image%203" alt="">
						</a>
						<div class="carousel-caption">
							<h3>Proactively Pontificate</h3>
							<p>Holistically pontificate installed base portals after maintainable products.</p>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#side-carousel" role="button" data-slide="prev">
				  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#side-carousel" role="button" data-slide="next">
				  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				  <span class="sr-only">Next</span>
				</a>
			  </div>

	  </div><!--/Right Column -->

	</div><!--/container-fluid-->













<h1>Solo sé que nada sé</h1>
<h2>Sócrates</h2>
<br />
<br />
<h1>Pues yo mucho menos. Nule</h1>
<h2>Quite las dos lineas que estaban en el archivo
application.html.erb porque me daban error. <br />
La verdad es que no entiendo nada de nada.</h2>
<a href="javascript:void(0)" class="btn btn-raised active"><code>.active</code></a>
<a href="javascript:void(0)" class="btn btn-raised btn-default">Default</a>
<a href="javascript:void(0)" class="btn btn-raised btn-primary">Primary</a>
<a href="javascript:void(0)" class="btn btn-raised btn-success">Success</a>
<a href="javascript:void(0)" class="btn btn-raised btn-info">Info</a>
<a href="javascript:void(0)" class="btn btn-raised btn-warning">Warning</a>
<a href="javascript:void(0)" class="btn btn-raised btn-danger">Danger</a>
<a href="javascript:void(0)" class="btn btn-raised btn-link">Link</a>


<a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
<a href="javascript:void(0)" class="btn btn-primary btn-fab"><i class="material-icons">grade</i></a>
<a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">grade</i></a>
<a href="javascript:void(0)" class="btn btn-info btn-fab"><i class="material-icons">grade</i></a>
<a href="javascript:void(0)" class="btn btn-warning btn-fab"><i class="material-icons">grade</i></a>
<a href="javascript:void(0)" class="btn btn-danger btn-fab"><i class="material-icons">grade</i></a>

<h1>con bootstrap 4</h1>
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Secondary, outline button -->
<button type="button" class="btn btn-secondary">Secondary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>
