<h1>Solo sé que nada sé</h1>
<h2>Sócrates</h2>
<br />
<br />
<h1>Pues yo mucho menos. Nule</h1>
<h2>Quite las dos lineas que estaban en el archivo
application.html.erb porque me daban error. <br />
La verdad es que no entiendo nada de nada.</h2>